.env
.env.*
!.env.example
.logfire/
.venv/
.uv-cache/
.dlt/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
*.duckdb
*.duckdb.wal
